.colors {
    display: inline-block;
    width: 6rem;
    margin: 15px;
}

.color-names {
    text-align: center;
}

  .green {
    background-color: green;
    color: white;
  }
  .blue {
    background-color: blue;
  }
  .orange {
    background-color: orange;
  }
  .purple {
    background-color: purple;
    color: white;
  }
  .pink {
    background-color: pink;
    color: black;
  }
  .yellow {
    background-color: yellow;
  }
  .white {
    background-color: white;
    color: black;
  }
  .gold {
    background-color: #FCD000;
  }
  .red {
    background-color: red;
  }
  .magenta {
    background-color: magenta;
  }
  .aqua {
    background-color: aqua;
    color: black;
  }
  .cyan {
    background-color: cyan;
    color: black;
  }
  .brown {
    background-color: brown;
  }
  .black {
    background-color: black;
    color: white;
  }
  .chocolate {
    background-color: chocolate;
  }
  
  .signup-btn {
    border-radius: 20px;
    border: 1px solid #3B3331;
    box-shadow: none; 
    margin: 1.3rem;
  }

.signup-btn:hover {
    background-color: #3B3331;
    color: #FF9F95; }