{% load customfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style-user.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-navbar.css' %}" />
    <title>{{title}}</title>
  </head>

  <body>
    <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }

    #background-img {
      height: 1000px;
      width: 1000px;
      background: url("{{cafe.image.url}}") no-repeat;
      position: fixed;

    }    

    </style>
    {% comment %} <div class="top__navbar">
      <div class="navbar">
        <div class="left_side">
          <a href="{% url 'home' %}">Home</a>
          {% if user.is_staff %}
          <a style="text-decoration: underline;" href="{% url 'update-cafe' cafe.pk %}">Update</a>
          <a style="text-decoration: underline;" href="{% url 'delete-cafe' cafe.pk %}">Delete</a>
          {% endif %}
        </div>        
        <div class="right_side">
          <svg
            id="show"
            xmlns="http://www.w3.org/2000/svg"
            style="
              width: 20px;
              height: 30px;
              padding-top: 10px;
              cursor: pointer;
              padding-left: 20px;
              fill: white;
            "
            viewBox="0 0 448 512"
          >
            <path
              d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"
            />
          </svg>
        </div>
      </div>
    </div> {% endcomment %}


    <nav class="nav collapsible">
      <a class="nav__title" href="#">My Site</a>
      <svg class="icon icon--white nav__toggler" id="light" enable-background="new 0 0 24 24" height="512"
          viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
          <g>
              <path
                  d="m21.5 24h-19c-1.379 0-2.5-1.122-2.5-2.5v-19c0-1.378 1.121-2.5 2.5-2.5h19c1.379 0 2.5 1.122 2.5 2.5v19c0 1.378-1.121 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z" />
          </g>
          <g>
              <path d="m16.5 8h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z" />
          </g>
          <g>
              <path d="m16.5 12.5h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z" />
          </g>
          <g>
              <path d="m16.5 17h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z" />
          </g>
      </svg>
      <ul class="list nav__list collapsible__content">
          <li class="nav__item"><a style="text-decoration: underline;" href="{% url 'home' %}">Home</a></li>
          <li class="nav__item"><a style="text-decoration: underline;" href="{% url 'update-cafe' cafe.pk %}">Update</a></li>
          <li class="nav__item"><a style="text-decoration: underline;" href="{% url 'delete-cafe' cafe.pk %}">Delete</a></li>
      </ul>
  </nav>


    <div class="nav" id="color-selector">
      <div class="color-panel">
        <div class="pink color"></div>
        <div class="orange color"></div>
        <div class="green color"></div>
        <div class="red color"></div>
        <div class="white color"></div>
        <div class="yellow color"></div>
        <div class="blue color"></div>
        <div class="gold color"></div>
        &nbsp;&nbsp;
        <form id="form" method="POST" style="display: inline;">
          {% csrf_token %}
        </form>
        <button class="btn_save_colors" id="savebtn" onclick="saveColors()">Save</button>
      </div>
    </div> 
    <div id="background-img">
      <div id="container" class="container">
        {% for table in tables %}
          <div style="background-color: {{table.color}}; position: absolute; top: {{table.top|minus:62}}px; left: {{table.left}}px;" class="element table_title" id="elem{{forloop.counter}}"><p>{{table.label}}</p></div>
        {% endfor %}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'js/script-user.js' %}"></script>
    <script src="{% static 'js/script-navbar.js' %}"></script>
  </body>
</html>
